<form action="" method="post" class="subscribe">
<label for="subscribe" class="srt">subscribe</label>
	<p>Enter your e-mail address below and we'll send you an e-mail when we're ready!</p>
	<input type="text" type="submit" alt="submit e-mail" class="subscribe__email" placeholder="Subscribe">	
	<button class="btn subscribe__submit">Subscribe</button>
</form>

